[submodule "common/3rdparty/boost-beast"]
	path = common/3rdparty/boost-beast
	url = https://github.com/boostorg/beast
[submodule "common/3rdparty/tinycbor"]
	path = common/3rdparty/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "common/3rdparty/certify"]
	path = common/3rdparty/certify
	url = https://github.com/djarek/certify
[submodule "client/sfml/3rdparty/SFML"]
	path = client/sfml/3rdparty/SFML
	url = https://github.com/SFML/SFML
